[Desktop Entry]
Name=i3
Comment=improved dynamic tiling window manager
Exec=/opt/i3/bin/start-i3
TryExec=/opt/i3/bin/start-i3
Type=Application
X-LightDM-DesktopName=i3
DesktopNames=i3
